on init
    export PATH /sbin
    export LD_LIBRARY_PATH .:/sbin

on boot
    # enable usb services
    write /sys/class/usb_composite/usb_mass_storage/enable 1
    write /sys/class/usb_composite/adb/enable 1
    start adbd
