import /init.${ro.hardware}.usb.rc

on init
    # Set permissions for persist partition
    mkdir /persist 0771 system system

    # Create external storage directories
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage 0550 system sdcard_r
    mkdir /storage/emulated 0555 root root

    mkdir /mnt/media_rw/sdcard1 0700 media_rw media_rw
    mkdir /storage/sdcard1 0700 root root

    export EXTERNAL_STORAGE /storage/emulated/legacy
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated
    export SECONDARY_STORAGE /storage/sdcard1

    # for backwards compatibility
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy
    symlink /storage/sdcard1 /extSdCard
    symlink /storage/sdcard1 /mnt/extSdCard
    symlink /storage/sdcard1 /external_sd

    chmod 0644 /proc/cmdline 

on emmc-fs
    # mount partitions
    mount_all /fstab.smarttab
    
    # We do indeed have a physical sd card
    setprop ro.crypto.fuse_sdcard true

on post-fs-data
    # We chown/chmod /persist again so because mount is run as root + defaults
    chown system system /persist
    chmod 0771 /persist

    # chown/chmod polling nodes as needed from UI running on system server    
    chmod 0664 /sys/devices/platform/msm_sdcc.1/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.2/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.3/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.4/polling
    chown system system /sys/devices/platform/msm_sdcc.1/polling
    chown system system /sys/devices/platform/msm_sdcc.2/polling
    chown system system /sys/devices/platform/msm_sdcc.3/polling
    chown system system /sys/devices/platform/msm_sdcc.4/polling
    
    # set permissions for invensense mpu
    chmod 0777 /dev/taos
    chmod 0777 /dev/mpu
    chmod 0777 /dev/mpuirq
    chmod 0777 /dev/accelirq
    chmod 0777 /dev/timerirq

    # set bluetooth mac address
    setprop ro.bt.bdaddr_path "/persist/zte/bt/bt_addr.txt"	
    setprop bt.bcm_bdaddr_path "/persist/zte/bt/bt_addr.txt"	
    
    # permissions for bluetooth.
    chown bluetooth bluetooth /persist/zte/bt
    chown bluetooth bluetooth ro.bt.bdaddr_path
    chown bluetooth bluetooth /dev/ttyHS0
    chmod 0660 /dev/ttyHS0
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type

    # for encrypted filesystems
    setprop vold.post_fs_data_done 1

on boot
    # create wifi/bluetooth directories
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp
    mkdir /data/misc/bluetooth 0770 bluetooth bluetooth

    # set bluetooth mac address
    setprop ro.bt.bdaddr_path "/persist/zte/bt/bt_addr.txt"	
    setprop bt.bcm_bdaddr_path "/persist/zte/bt/bt_addr.txt"	

    # permissions for bluetooth.
    chown bluetooth bluetooth /persist/zte/bt
    chown bluetooth bluetooth ro.bt.bdaddr_path
    chown bluetooth bluetooth /dev/ttyHS0
    chmod 0660 /dev/ttyHS0
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/module/bluetooth_power/parameters/power
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chown system system /sys/module/sco/parameters/disable_esco
    chmod 0660 /sys/module/bluetooth_power/parameters/power
    chmod 0660 /proc/bluetooth/sleep/proto
    chown bluetooth bluetooth /sys/devices/platform/msm_serial_hs.0/clock
    chmod 0660 /sys/devices/platform/msm_serial_hs.0/clock

    # set up wifi
    symlink /persist/qcom_wlan_nv.bin /etc/firmware/wlan/qcom_wlan_nv.bin
    symlink /data/hostapd/qcom_cfg.ini /etc/firmware/wlan/qcom_cfg.ini
    #insmod /system/lib/modules/dhd.ko firmware_path=/system/etc/wifi/bcm4330_b2.bin nvram_path=/persist/zte/wifi/bcm.txt
    setprop wifi.interface eth0

    # create location services directories
    mkdir /data/wpstiles/ 0755 shell
    mkdir /data/wiper 0755 gps qcom_oncrpc

    # create audio directories
    mkdir /data/misc/audio 0770 audio audio
    mkdir /data/audio/ 2770 media audio

service hciattach /system/bin/brcm_patchram_plus --enable_lpm --enable_hci --baudrate 921600 --patchram /etc/firmware/bcm.hcd /dev/ttyHS0 any &
    class main
    user bluetooth
    group bluetooth net_bt_admin
    disabled

service wpa_supplicant /system/bin/wpa_supplicant -D wext -i eth0 -c /data/misc/wifi/wpa_supplicant.conf 
    user root
    group wifi inet
    socket wpa_eth0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -BKL
    class main
    disabled
    oneshot

service iprenew_eth0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot 

service wiperiface /system/bin/logwrapper /system/bin/wiperiface
    user location
    group qcom_oncrpc system
    oneshot

service rmt_storage /system/bin/rmt_storage /dev/block/mmcblk0p10 /dev/block/mmcblk0p11
    class core
    user root

service qmuxd /system/bin/qmuxd
    class main
    user radio
    group radio audio bluetooth gps

service hdmid /system/bin/hdmid
    class main
    socket hdmid stream 0660 root system graphics
    disabled

service sdcard /system/bin/sdcard -u 1023 -g 1023 -l /data/media /mnt/shell/emulated
    class late_start

service fuse_sdcard1 /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/sdcard1 /storage/sdcard1
    class late_start
    disabled

on property:init.svc.wpa_supplicant=stopped
    stop dhcpcd_eth0
